  button{
		border-radius: 5px;
		flex-direction: row;
		height: 5vh;
  }
  p,h6{
  	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin:0; padding:0;
  }
  }